* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;
  font-family: ropa-sans-pro, sans-serif;
  line-height: 38px;
  background-image: url("PLACES/Volcano-pics/bg.jpg");
  background-size: 100%;
  width: 168vw;
}

/*  nav bar */

#con {
  position: relative;
}
ul {
  list-style-type: none;
  margin-left: 41em;
  position: fixed;
  top: 5px;
}

ul li {
  float: left;
  margin: 11px 55px 0 0;
  position: relative;
}

nav img,
nav h6 {
  display: inline;
  position: fixed;
}

nav h6 {
  margin-left: 123px;
  position: fixed;
  top: 19px;
  color: white;
  font-size: 17px;
}

nav img {
  display: inline;
  margin: 16px;
}

ul a {
  text-decoration: none;
  color: #ece2d7;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}

/*  underline of links */
ul li a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  bottom: -8px;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

ul li a:hover::after {
  width: 80%;
  left: 8%;
}

.fa {
  font-size: 15px;
}

.fa-search {
  margin-top: 24px;
}

.fa-user {
  font-size: 15px;
  color: white;
  margin-left: 55px;
}

/* dropdwon menu that appears when u click the bars*/

/* .dropdown-content {
  display: none;
  background-color: #212121;
  width: 164px;
  padding-left: 21px;
  margin-left: 36em;
  min-width: 160px;
  overflow: auto;
  box-shadow: 4px 12px 20px 4px rgba(0, 0, 0, 0.2);
} */

/* a#account {
  padding-left: 5px;
  font: 600;
  font-family: ropa-sans-pro, sans-serif;
} */

/* words that appear */
.words {
  display: none; 
  /* display: inline-block; */
  color: white;
  position: absolute;
  top: 11em;
  left: 3em;
  line-height: 1.5;
}

.words2 {
   display: inline-block; 
  color: white;
  position: absolute;
  top: 12em;
  left: 3em;
  line-height: 1.5;
}

.words3 {
  display: none;
  /* display: inline-block; */
  color: white;
  position: absolute;
  top: 12em;
  left: 3em;
  line-height: 1.5;
}

.words4 {
  display: none;
  /* display: inline-block; */
  color: white;
  position: absolute;
  top: 12em;
  left: 3em;
  line-height: 1.5;
}

.words5 {
  display: none;
  /* display: inline-block; */
  color: white;
  position: absolute;
  top: 12em;
  left: 3em;
  line-height: 1.5;

}

.words6 {
   display: none;
   /* display: inline-block; */
   color: white;
   position: absolute;
   top: 12em;
   left: 3em;
   line-height: 1.5;
}

.words7 {
 display: none; 
   color: white;
   position: absolute;
   top: 12em;
   left: 3em;
   line-height: 1.5;
}

.line {
  position: relative;
  top: 2em;
  right: 495px;
}

.line2 {
    right: 494px;
    margin-left: 95px;
}

.words5 .line2 {
  margin-left: 63px;
}

.words6 .line2 {
  margin-left: 76px;
}

.words7 .line2 {
  margin-left: 35px;
}

.words h5,.words2 h5,.words3 h5,.words4 h5,.words5 h5,.words6 h5,.words7 h5{
  font-size: 1em;
}

.words h1,.words2 h1,.words3 h1,.words4 h1,.words5 h1,.words6 h1,.words7 h1{
  font-size: 3em;
}

.words h4,.words2 h4,.words3 h4,.words4 h4,.words5 h4,.words6 h4,.words7 h4{
  font-size: 21px;
}

.words p,.words2 p,.words3 p,.words4 p,.words5 p,.words6 p,.words7 p{
  font-size: 14px;
  line-height: 3.5;
}
button.learn-more {
  position: absolute;
  bottom: -32em;
  left: 4em;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 14px;
  border-radius: 23px;
  width: 112px;
  height: 44px;
  outline: 0;
  font-size: 14px;
}

button.learn-more:hover {
  background-color: yellow;
  color: white;
  font-weight: 400;
}

/* boxes */

.box {
  display: inline;
}

.box img {
  height: 19em;
  width: 12em;
  margin-left: 8em;
  position: absolute;
  top: 14em;
  left: 26em;
  border-radius: 15px;
  box-shadow: 15px 23px 28px -6px rgba(0, 0, 0, 0.54);
}

.box1 img {
  position: absolute;
  left: 28em;
}
.box2 img {
  position: absolute;
  left: 42em;
}

.box3 img {
  position: absolute;
  left: 56em;
}

.box4 img {
  position: absolute;
  left: 70em;
}

.box5 img {
  position: absolute;
  left: 84em;
  top: 14em;
}

.box6 img {
  position: absolute;
  left: 98em;
}

.box7 img {
  position: absolute;
  left: 112em;
}

/* .box8 img {
  position: absolute;
  left: 126em;
} */
